body{font-family: 'Antic Slab', serif;
margin:0;
line-height:2;
color:#a1aba3;
background-color:black;
}
h1{
color:#a6a8a5;
  font-family: 'Playfair Display', serif;}
img{margin:0;
  border:0;
  padding:0;
}
h3{color:#a6a8a5;}
h2{
  color:#a6a8a5;
}
a{
  text-decoration: none;
color:white;
margin:20px auto;
padding:1rem;
position:relative;
left:80px;
}
a:hover{
  color:gray;
}

.b1{
  text-align:center;
  font-style: normal;
  font-size:20px;
  margin:auto;
  color:#ebebe0;
}
.b2{
  text-align:center;
  width:100%;
  background-image: url("../images/bg2.jpg");
  background-size:cover;
}
.b3{
  width:40%;
  text-align:left;
  margin:10px auto 10px;
}
.b4{text-align:left;
  width:50%;
  margin:40px auto;
  }
.b5{
  position:relative;
  top:50px;
  text-align:left;
  width:100%;
  margin-bottom: 0;
  background-color:#2d2e2d;

}
.bg1{
  position:relative;
  height:100%;
  width:100%;
}

.heading{
  text-align: center;
  margin:20px auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.img1{
  width:250px;
  height:300px;
  margin:40px auto 20px auto;
}
.skill{
  position:relative;
  top:60px;
  left:50px;
  float:right;
  margin:20px;
  width:8rem;
  height:8rem;
}
.edu{
border-radius:100%;
  float:right;
  margin:20px;
  width:8rem;
  height:8rem;
  position:relative;
  left:40px;
}
.project{
  position:relative;
  bottom:30px;
  float:left;
  width:100px;
  height:100px;
  border-radius:100%;
  margin:20px;
}
.copyright{
  font-family: 'Roboto', sans-serif;
  text-align:center;
}
.img1{
  position:relative;
}
.bb1{
  background-image:url("../images/bg5.jpg");
  background-size:cover;
  background-position: center;
}
.a{position:relative;
  left:40px;
  text-align: center;
width:100%;}
